<!DOCTYPE html>
<html>
  <head>
    <title>Einstein Analytics - Commander</title>
    <link href="/assets/styles/salesforce-lightning-design-system.min.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h1>Commander</h1>
    <script>
      console.warn('commander');
    </script>
  </body>
</html>