<!DOCTYPE html>
<html>
<body>
<form>
  <input type="radio" name="eatype" value="einstein_analytics" onclick="onClick()"> Einstein Analytics<br/>
  <input type="radio" name="eatype" value="einstein_discovery" onclick="onClick()"> Einstein Discovery<br/>
</form>
<button onclick="onClick()" label="Okay">Okay</button>

<script src="https://statics.teams.microsoft.com/sdk/v1.4.2/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">  

microsoftTeams.initialize();
microsoftTeams.settings.registerOnSaveHandler(function(saveEvent){
  console.warn('onSaveHandler');
    var radios = document.getElementsByName("eatype");
    if (radios[0].checked) {
       microsoftTeams.settings.setSettings({
         entityId: "einstein_analtics",
         contentUrl: "https://analytics-ltngout-playground.herokuapp.com/lo_msteams",
         suggestedDisplayName: "Einstein Analytics",
         websiteUrl: "https://analytics-ltngout-playground.herokuapp.com",
         removeUrl: "https://analytics-ltngout-playground.herokuapp.com/tabremove",
      });
    } else {
       microsoftTeams.settings.setSettings({
        entityId: "einstein_discovery",
        contentUrl: "https://analytics-ltngout-playground.herokuapp.com/lo_msteams",
        suggestedDisplayName: "Einstein Discovery",
        websiteUrl: "https://analytics-ltngout-playground.herokuapp.com",
        removeUrl: "https://analytics-ltngout-playground.herokuapp.com/tabremove",
     });
    }

    saveEvent.notifySuccess();
});

function onClick() {
    console.warn('onClick');
    microsoftTeams.settings.setValidityState(true);
}

</script>
</body>
</html>