<!DOCTYPE html>
<html>
  <head>
    <title>Einstein Analytics - Lightning Out</title>
    <style>
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      button {
        height: 48px;
        width: 100%;
        margin: 4px 0;
        font-size: 1.5rem;
      }

    </style>
  </head>
  <body>
    <ul>
      <li><button onclick="executeCommand('Show Dashboard Communities');">Show Dashboard Communities</button></li>
      <li><button onclick="executeCommand('Show Dashboard Customer Healt');">Show Dashboard Customer Health</button></li>
      <li><button onclick="executeCommand('Show Page Next Quarter');">Show Page Next Quarter</button></li>
    </ul>
  <script>
      function test() {
        console.warn('test');
      }
      function executeCommand(phrase) {
        console.warn('execCommand: ', phrase);
        var req = new XMLHttpRequest();     
        req.onreadystatechange = function(event) {
          console.warn('event: ', event);
          console.warn('req: ', req);
          // XMLHttpRequest.HEADERS_RECEIVED
          if (req.readyState == 2) {
          } else if (req.readyState == 4) {
            if (req.status === 200) {                    
              console.log('response: ', req.response);
            } else {
              // Something went wrong.
            }
          }
        };

        req.open('POST', '/commander');
      
        //req.setRequestHeader('Authorization', 'Bearer ' + oauthResult.accessToken);
        req.setRequestHeader('Content-Type', 'application/json');
  
        console.warn('calling req.send');
        req.send(JSON.stringify({domain: 'ackeynotedf18', phrase: phrase}));        
      }
    </script>
  </body>
</html>