<!DOCTYPE html>
<html>
  <head><title>Einstein Analytics - Lightning Out</title></head>
  <body>
    <div id="dashboard"></div>
    <div id="filterTest"></div>
    <script src="https://adx-dev-ed.my.salesforce.com/lightning/lightning.out.js"></script>
    <script src="/javascripts/force.all.js"></script>
    <script>
      var appId = '3MVG9SemV5D80oBcff3jWxxK32f4PQBwm702A4fEFlSAEviJg7BsC7PUI_WpupyyBwMfhXypJSkdVqKX7_IXr';
      var loginURL = "https://login.salesforce.com";
      var oauthCallbackURL = window.location.origin + "/oauthcallback.html";
      var oauth = force.OAuth.createInstance(appId, loginURL, oauthCallbackURL);
      var loAppName = "c:loApp";
      oauth.login().then(function(oauthResult) {
        var ltngURL = oauthResult.instanceURL.replace(/my.salesforce/, "lightning.force")
        $Lightning.use(loAppName, function(evt) {
          var config = {
            developerName: "eadx__Image_Test_2",
            height: "700",
            showTitle: false,
            showHeader: false
          };
          $Lightning.createComponent("wave:waveDashboard", config, "dashboard", function(cmp, msg, err) {});
          $Lightning.createComponent("c:imageMapTest", config, "filterTest", function(cmp, msg, err) {});
        }, ltngURL, oauthResult.accessToken);        
      });
    </script>
  </body>
</html>