<!DOCTYPE html>
<html>
  <head>
    <title>Einstein Analytics - Lightning Out</title>
    <link href="/assets/styles/salesforce-lightning-design-system.min.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h1>App ID: <%- appId %></h1>
    <div id="dashboard"></div>
    <div id="sdkTab"></div>
    <script src="https://<%= domain %>.my.salesforce.com/lightning/lightning.out.js"></script>
    <script src="/javascripts/force.all.js"></script>
    <script>
      var appId = '<%- appId %>';
      var loginURL = "https://login.salesforce.com";
      var oauthCallbackURL = window.location.origin + "/oauthcallback.html";
      var oauth = force.OAuth.createInstance(appId, loginURL, oauthCallbackURL);
      var loAppName = "c:loApp";
      oauth.login().then(function(oauthResult) {
        var ltngURL = oauthResult.instanceURL.replace(/my.salesforce/, "lightning.force")
        $Lightning.use(loAppName, function(evt) {
          var config = {
            developerName: "eadx__Demo1",
            height: "700",
            showTitle: false,
            showHeader: false
          };
          $Lightning.createComponent("wave:waveDashboard", config, "dashboard", function(cmp, msg, err) {});
          //$Lightning.createComponent("c:imageMapTest", config, "filterTest", function(cmp, msg, err) {});
          //$Lightning.createComponent("c:sdkTab", {}, "sdkTab", function(cmp, msg, err) {});
        }, ltngURL, oauthResult.accessToken);        
      });
    </script>
  </body>
</html>