<!DOCTYPE html>
<html>
  <head>
    <title>No Lightning Domain</title>
  </head>
  <body>
    <div>
      <p>No Lightning Domain detected</p>
      <p>Please launch from the Lightning App</p>
    </div>
  </body>
</html>