<!DOCTYPE html>
<html>
<body>
  <h1>Tab Remove</h1>

<script src="https://statics.teams.microsoft.com/sdk/v1.4.2/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>

<script type="text/javascript">  

</script>
</body>
</html>