<!DOCTYPE html>
<html>
  <head>
    <title>MS Teams Test - Terms of Use</title>
    <link href="/assets/styles/salesforce-lightning-design-system.min.css" type="text/css" rel="stylesheet"/>
  </head>
  <body>
    <h1>Terms of Use</h1>
  </body>
</html>