<!DOCTYPE html>
<html>
  <head>
    <title>
      Voice SFX Proxy
    </title>
  </head>
  <body>
    <script type="text/javascript">
    console.warn('fooooooooooooooooooooo');
 
    </script>
    </body>
</html>